# Environment files
.env
.env.example

# Python and Django caches
__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3

# IDE/editor folders
.vscode/
.idea/

# Static and media
staticfiles/
static/
media/

# Virtual environments
env/
venv/
.venv/
Lib/
Scripts/

# Logs
*.log
